.card {
    width: 348px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    cursor: pointer;
}
.image {
    width: 100%;
    height: 231px;
    object-fit: cover;
    border-radius: 18px;
}
.body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.titleGroup {
    display: flex;
    align-items: center;
    gap: 11px;
}
.title {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}
.time {
    font-size: 14px;
    color: #B3B4B5;
}
.favoriteBtn {
    width: 26px;
    height: 26px;
    border: 1px solid white;
    background: transparent;
}
.desc {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
