@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;600&display=swap');

body {
    margin: 0; line-height: normal;
}

:root {
    /* Fonts */
    --font-noto-sans: 'Noto Sans';

    /* font sizes */
    --font-size-sm: 14px;
    --font-size-base: 16px;
    --font-size-lg: 18px;
    --font-size-5xl: 24px;

    /* Gaps */
    --gap-0: 0px;
    --gap-2xs: 11px;
    --gap-base: 16px;
    --gap-lg: 18px;
    --gap-11xl: 30px;
    --gap-41xl: 60px;

    /* Border radiuses */
    --br-lg: 18px;
    --br-31xl: 50px;

    /* Figma Variables */

    /* Color Variables */
    --Black: #000;
    --Neutral-neutral-1000: #2f3034;
    --Neutral-neutral-1100: #1c1d21;
    --Neutral-neutral-300: #b3b4b5;
    --Neutral-neutral-600: #7b7b7e;
    --Primary-primary-200: #a0d5ec;
    --White: #fff;

}
